.main {
  background-color: var(--color-secundario);
}

.loginSide {
  background: var(--color-principal);
}

.btn-login {
  color: white;
  background: var(--color-principal);
}

@media (max-width: 767px) {
  .login-container {
    border-radius: 0.5rem;
  }
}
