#logoutButton {
  bottom: 0;
  left: 11rem;
  width: 14.5rem;
  margin-bottom: 1rem;
}

#tweetButton {
  width: 12.3rem;
}

#dropdown-basic {
  padding: 0.9rem !important;
}

a {
  text-decoration: none;
  color: black;
}

#profileHover:hover {
  background-color: rgba(128, 128, 128, 0.164);
  border-radius: 1.5rem;
  width: 8.05rem;
}

#homeHover:hover {
  background-color: rgba(128, 128, 128, 0.164);
  border-radius: 1.5rem;
  height: 100%;
  width: 8.1rem;
}

.sidebarIcon {
  width: 1.5rem;
  height: 1.5rem;
}

@media (max-width: 1570px) {
  #logoutButton {
    bottom: 0;
    left: 38px;
    width: 13.5rem;
    margin-bottom: 1rem;
  }

  #tweetButton {
    width: 14rem;
  }
}

@media (max-width: 1440px) {
  #logoutButton {
    bottom: 0;
    left: 30px;
    width: 11rem;
    margin-bottom: 1rem;
  }

  #tweetButton {
    width: 12rem;
  }

  #dropdown-basic {
    padding: 0.9rem !important;
  }

  p {
    width: 7.2rem;
  }

  a {
    text-decoration: none;
    color: black;
  }
}

@media (max-width: 1240px) {
  #profileHover:hover {
    background-color: rgba(128, 128, 128, 0.164);
    border-radius: 1.5rem;
    width: 8.05rem;
  }

  #homeHover:hover {
    background-color: rgba(128, 128, 128, 0.164);
    border-radius: 1.5rem;
    height: 100%;
    width: 8.1rem;
  }

  #logoutButton {
    bottom: 0;
    left: 38px;
    width: 9rem;
    margin-bottom: 1rem;
  }

  #tweetButton {
    width: 11rem;
  }

  p {
    width: 200px;
    height: 20px;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: pre;
  }
}

@media (max-width: 1199px) {
  .sidebarText {
    display: none;
  }

  .tweetImage {
    display: block !important;
    width: 1.5rem;
    height: 1.5rem;
  }

  #tweetButton {
    width: 3.2rem !important;
    height: 3.2rem;
  }
  #logoutButton {
    width: 1.3rem;
  }
  #dropdown-basic {
    padding: 0px !important;
  }
  .userText {
    display: none;
  }
}

@media (max-width: 991px) {
  .sidebarTotal {
    left: 7px;
  }
  #logoutButton {
    bottom: 0;
    left: -46px;
    width: 10.3rem;
    margin-bottom: 1rem;
  }
}
