#logoutButton {
  position: fixed;
  bottom: 0;
  width: 13.3rem;
  margin-bottom: 1rem;
}

#tweetButton {
  width: 12.3rem;
}

#dropdown-basic {
  padding: 0 1rem !important;
}

#profileHover {
  text-decoration: none;
  color: black;
}

#homeHover {
  text-decoration: none;
  color: black;
}

.sidebarIcon {
  width: 1.5rem;
  height: 1.5rem;
}

@media (max-width: 1570px) {
  #logoutButton {
    bottom: 0;
    width: 13.5rem;
  }

  #tweetButton {
    width: 12.3rem;
  }
}

@media (max-width: 1440px) {
  #logoutButton {
    bottom: 0;
    width: 12rem;
    margin-bottom: 1rem;
  }

  #tweetButton {
    width: 12rem;
  }

  #dropdown-basic {
    padding: 0 0 !important;
  }
}

@media (max-width: 1399px) {
  #logoutButton {
    bottom: 0;
    width: 11rem;
    margin-bottom: 1rem;
  }

  #tweetButton {
    width: 11rem;
  }
  #dropdown-basic {
    padding: 0 0 !important;
  }
}

@media (max-width: 1199px) {
  .sidebarText {
    display: none;
  }

  .tweetImage {
    display: block !important;
    width: 1.5rem;
    height: 1.5rem;
  }

  #tweetButton {
    width: 3.2rem !important;
    height: 3.2rem;
  }
  #logoutButton {
    width: 3.3rem;
  }
  #dropdown-basic {
    padding: 0px !important;
  }
  .userText {
    display: none;
  }
}

@media (max-width: 991px) {
  #logoutButton {
    bottom: 0;
    width: 3.3rem;
    margin-bottom: 1rem;
  }
}

@media (min-width: 1200px) {
  #profileHover:hover {
    background-color: rgba(128, 128, 128, 0.164);
    border-radius: 1.5rem;
    width: 8.05rem;
  }

  #homeHover:hover {
    background-color: rgba(128, 128, 128, 0.164);
    border-radius: 1.5rem;
    height: 100%;
    width: 8.1rem;
  }
}
